body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .main-up-banner {
    display: flex;
    justify-content: space-between;
  }


  .upper-banner1 {
    width: 70%;
    background-color: rgb(11, 11, 11);
    height: 50px;
    color: white;
  }


  .upper-banner2 {
    width: 30%;
    background-color: rgb(81, 32, 32);
    height: 50px;
    
  } 


   .upper-banner2 h1{
    float: right;
   }