body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    

}


/* carousel 1 -css */

.carousel-item img{
    width: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
}

.carousel-item  {
    max-height: 90vh;
}


.carousel-heading {
    text-align: center;
}
/* carousel 1 -css */




/*  inner section */
.inner-sec1-image img{
    width: 400px;
   margin-top: 60px;
   animation: translateUpDown 5s linear infinite;
}

@keyframes translateUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

.inner-sec1-image {
    text-align: center;
}
/*  inner section */



/* about us */

.outer-container-x3 {
    width: 100%;
    min-height: 90vh;
}

.section-2-x3 h2{
    font-size: 40px;
    margin-top: 20px;
}


.para-x3 p{
    font-size: 16px;
    width: 80%;
    color: rgb(65, 65, 65);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 2px;
    
   
}


.inner-sec1-image {
   
}

.section-2-x3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
/* about us */



/* products  */
.img-div h1{
color: white;
background-color: black;
font-size: 20px;
padding: 2px;
}


/* products  */



/* our services */

.container-x5 {
    /* height: 30vh;     */
}

.heading-x5 {
    text-align: center;
    font-size: 20px;
    background-color: white;
    padding-bottom: 10px;
}


.heading-x5 h1 {
    border-bottom: 2px solid rgb(0, 142, 142);
    display: inline;
}



/* our services */

.heading-x5 h1 {
    padding-top: 30px;

}



/* products banner */

.banner {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner p {
    width: 100vw;
    background-color: cyan;
    padding: 20px;
}

.img-div {
    background-color: rgb(0, 0, 0);

}

.h1-div {
    margin-top: 25px;
    background-color: rgba(0, 255, 255, 0.311);
    padding: 10px;
}

.btn-prod{
    text-align: center;
}


.btn-prod button{
color: rgb(0, 255, 234);
background-color: black;
padding: 10px 20px;
margin-top: 30px;
border-radius: 5px;
}





/* map container  */

.inner-section-x11 span {
font-size: 15px;
/* font-weight: 600;  */
padding-right: 10px;
color: rgb(0, 112, 112);
/* border-bottom: 2px solid black; */
margin-bottom: 2px;


}

.map-container-x11 {
 
}


.span-map {
    color: black !important;
}

#submit-btn-map {
    background-color: rgb(0, 0, 0);
    color: cyan;

}

.contact-form-x11  h2 {

    border-bottom: 4px solid rgb(0, 88, 88);
    display: inline;
}

#form-name {
    margin-top: 5px;
}


.contact-form-x11 {

}
/* map container  */





/* clients  */



#client-heading {
    border-bottom: 2px solid rgb(0, 142, 142);
    display: inline;
}





/*  google animation */

/* styles.css */



/* 
animation
*/


/* CSS */
/* CSS */
.gallery-image-x9 {
    transition: transform 0.3s ease-in-out;
}

.gallery-image-x9:hover {
    transform: scale(1.1);
}




