<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/upperbanner.css" />
  </head>
  <body>
     
    <div class="container">

      <div class="main-up-banner">

        <div class="upper-banner1">
            <h1>1234</h1>
        </div>

        <div class="upper-banner2">
            <h1>1234</h1>
        </div>

      </div>

    </div>


  </body>
</html>
