<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/welcome.css">
</head>
<body>

<!-- -x3 -->

    <div class="outer-container-x3">
        <div class="inner-section-x3 section-1-x3">
          <h2>Inner Section 1</h2>
          <!-- <p>This is some sample content for inner section 1.</p> -->
          <img src="../images/welcome-img-001-new.jpg" alt="">
        </div>
        <div class="inner-section-x3 section-2-x3">
          <h2>welcome to fitwell</h2>

          <div class="para-x3">
            <p>This is some sample content for inner section 2.</p>
            <p>This is some sample content for inner section 2.</p>
            <p>This is some sample content for inner section 2.</p>
            <p>This is some sample content for inner section 2.</p>
          </div>

          <div class="carousel-x3">
            
          </div>
       
        </div>
      </div>
    
</body>
</html>