<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container-x5">

        <div class="heading-x5">
            <h1>Our Services </h1>
            <h1>What We’re Offering</h1>
            <p>Being firm believers in ethical business, we ensure that our values remain intact and we provide the most satisfying supplies to the consumers.</p>
        </div>

    </div>

</body>
</html>